
body {
    position: absolute;
    font-family: "'Open Sans',  sans-serif";
}
h1, h2, h3, h4, h5, span {
    position: absolute;
    left: 10px;
    font-size: 0.6em;
    font-weight: 100;
}
h1 {
    font-size: 2.4em;
}

h2 {
    top: 50px;
    font-size: 1.4em;
}
h3 {
    position: absolute;
    top: 100px;
    font-size: 1.4em;
}
h4 {
    position: absolute;
    top: 160px;                      
    font-size: 1em;
}
h5 {
    position: absolute;
    top: 220px;                      
    font-size: 1em;
}